:root{
    --primary-color : rgb(1, 130, 115);
    --secondary-color:#EBAE40;
    --primary-dark:#181D24;
    --grey1:#696B73;
    --grey2:#CBCBCB;
    --grey3:#F5F6F8;
    --white:#fff;
    --bluish-grey:#C2CFE0;
}